/*reset margin, padding*/
body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.banner {

    height: 500px;
    background: url('./banner.jpg') center center no-repeat;
    padding: 20px;
}

.about-sign-in {
    height: 80px;
    width: 100%;
}